<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Dealers</h1>
    <div>
        <a href="/">Home</a>
        <a href="/dealers">Dealer</a>
        <a href="/products">Product</a>
    </div>
    <div>
        <table border="1">
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
            <% dealers.map((val, index)=> { %>
                <tr>
                    <td>
                        <%= ++index %>
                    </td>
                    <td>
                        <%= val.name %>
                    </td>
                    <td>
                        <%= val.createdAt %>
                    </td>
                    <td>
                        <%= val.updatedAt %>
                    </td>
                </tr>
                <% }) %>
        </table>
    </div>
</body>

</html>